.bg-home {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: right;
}

.overlayBg {
  background-color: white;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 50%;
}

.info {
  top: 0px;
  position: absolute;
}