.education {
    max-width: 1040px;
    margin: auto;
    padding: 1rem;
    padding-top: 4rem; /* 64px */
    padding-bottom: 4rem; /* 64px */
}
.title {
    padding-top: 4rem; /* 64px */
    padding-bottom: 4rem; /* 64px */
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
    font: bold;
    text-align: center;
    color: #001b5e;
}

@media screen and (min-width: 768px) {
    .education {
        padding: 5rem;
    }
}
